$medium-red: #990000;
$tan:        #eee5c7;
$badger-red: #b70101;
.menu{
	position:absolute;
	background: $medium-red;
	border-radius: 6px;
	margin: 20px 5px;
	float: left;
	width: 20%;
	height: 90%;
	z-index: 0;
	opacity: 0.8;
	top:0;
}
.menu:hover{
	opacity: 0.95;
}
.on{
	background: green;
	display: inline-block;
}
.off{
	background: red;
	display: inline-block;
}
.menu-item{
	padding: 10px;
	margin: 5px;
	background: $tan;
	opacity: inherit;
}
input{
	display: block;
}
.btn{
	padding: 2px 4px;
	border-radius: 3px;
	margin: 2px;
	opacity: inherit;
}
.btn-submit{
	background: $badger-red;
}
.btn-submit:hover{
	background: darken($badger-red, 10%);  
}
#rosPoint {
	z-index: -1;
}
body{
	margin: 0;
	overflow:hidden;
}
/*
 * EXPANDER FIELDS
 */
.btn-expander{
	text-align:center;
	text-transform:uppercase;
}
.btn-expander:hover{
	background: #FFF
}
.expander-field{
	display:none;
	transition-duration: 0.5s;
}

/*
 * TRANSITIONS
 */
*{
	transition: all 0.2s ease-out;
}
